$color-primary = #eceff1;
$color-primary-light = #ffffff;
$color-primary-dark = #babdbe;

$color-secondary = #263238;
$color-secondary-light = #4f5b62;
$color-secondary-dark = #000a12;

$color-accent = #00e676;
$color-accent-light = #66ffa6;
$color-accent-dark = #00b248;

$color-info = #2196f3;
$color-info-light = #6ec6ff;
$color-info-dark = #0069c0;

$color-success = #64dd17;
$color-success-light = #9cff57;
$color-success-dark = #1faa00;

$color-warning = #f9a825;
$color-warning-light = #ffd95a;
$color-warning-dark = #c17900;

$color-error = #f4511e;
$color-error-light = #ff844c;
$color-error-dark = #b91400;