@import './responsive.styl'
@import './vars.styl'
@import './grid.styl'

:global
  .--m--reset
    margin: 0 !important

  .--m--t-reset
    margin-top: 0 !important

  .--m--b-reset
    margin-bottom: 0 !important

  .--m--l-reset
    margin-left: 0 !important

  .--m--r-reset
    margin-right: 0 !important

  for $key, $value in $margin-levels
    .--m--{$key}
      margin: $value !important

    .--m--t-{$key}
      margin-top: $value !important

    .--m--b-{$key}
      margin-bottom: $value !important

    .--m--l-{$key}
      margin-left: $value !important

    .--m--r-{$key}
      margin-right: $value !important

  .--layout--row
    container: row

  .--layout--col
    container: column

  for $i in 0..$base-count-columns
    .--span--{$i}
      span: $i, null, 1, 1, true

    .--span--offset-{$i}
      offset: $i
    
    .--span--grow-{$i}
      flex-grow: $i
    
    .--span--shrink-{$i}
      flex-shrink: $i

  for $i in 0..$base-count-columns
    for $key, $value in $breakpoints
      +respond-at($key)
        .--span--{$key}-{$i}
          span: $i, null, 1, 1, true

  .--span--fixed
    flex: 0 0 auto !important